
/* General Section */

.input-style input {
    font-family: 'Open Sans', sans-serif !important;
    height: calc(1.5em + 1rem + 2px) !important;
    border: 1px solid white !important;
    border-right-width: 0px !important;
    padding: 10px 0px 10px 16px !important;
    border-radius: 4px 0px 0px 4px !important;
    background-color: rgba(247, 249, 252, 0.4) !important;
    color: white !important;    
    font-size: 15px !important; 
}

.input-style select {
    background-color: rgba(247, 249, 252, 0.4) !important;
    color: white !important;
    height: calc(1.5em + 1.2rem + 2px) !important;
    padding: 10px 16px 10px !important;
    border: 1px solid white !important;
    border-radius: 4px !important;
    font-size: 15px !important;
}

.input-style .input-disabled {
    background-color: black !important;
}

.input-style select option {
    color: black;
}

.input-style input:focus, .input-style select:focus {
    box-shadow: none !important;
}

.input-style .input-group-text  {
    background-color: rgba(247, 249, 252, 0.4) !important;
    border: 1px solid white !important;
    border-left-width: 0px !important;
    border-radius: 0px 4px 4px 0px !important;
}

/* End General Section */

.home-container {
    display: flex;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39)), url(./images/hero-img.png);
    background-size: cover; 
    min-height: 100vh;
}

.hero-container {
    flex: 1.2;
    height: 100%;
}

.form-container {
    flex: 1;
    color: white;
    background-color: rgb(51, 50, 50); 
}


.hero-overlay {    
    color: white;
    display: flex;        
    align-items: center;
    padding: 20px 35px;           
}


/* .hero-title p {
    font-weight: bold;
    font-size: 70px;
    width: 80%;
} */

.create-user-container {
    padding: 2em 5em;
}

.create-user-container h1{
    font-family: 'Inconsolata', monospace ;
}

.component-regis {
    display: flex;
    border-radius: 10px;
    width: 70%;    
    border: 2px dashed white; 
}

.regis-card-1,.regis-card-2 {
    padding: 60px;    
    flex: 1;
}
.regis-card-1 .card-desc {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    border-bottom: 1px solid white;
    padding-bottom: 4px;
}

.regis-card-2 .card-desc {
    font-family: 'Inter', sans-serif;
    font-size: 14px;      
}

.regis-card-2 .card-desc a {
    text-decoration: underline;
}

.regis-card-1 label,.regis-card-2 label {    
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.regis-card-1 {
    background-color: #191919;
}
.regis-card-2 {
    background-color: #333333;
}

.regis-card-2 .link-text {
    font-family: 'Open Sans', sans-serif ;
    font-size: 16px;
    text-align: center;
}

.regis-card-2 .link-text a {
    color: #0095FF;    
    text-decoration: none;
}

.input-border {
    font-family: 'Open Sans', sans-serif;
    border: 1px solid white;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: rgba(247, 249, 252, 0.4);
    color: white;
    width: 100%;
    font-size: 15px; 
}

.or-line {
    display: grid;
    grid-template-columns: 2fr min-content 2fr;
    align-items: center;
}
.or-line span:nth-child(2) {
    font-size: 20px;
}

.btn-regis {
    font-family: 'Open Sans', sans-serif;
    padding: 13px 24px !important;
    font-weight: bold !important;
    background-color: #FFFFFF !important;
    color: #2E3A59 !important;
    border: 0px;
}

.btn-regis:focus {
    color: #BABABA !important;
}

@media(max-width: 1440px) {
    .create-user-container {
        padding: 2em 4em;
    }
    .component-regis {        
        width: 97%;        
    }
}

@media(max-width: 768px) {    
    .component-regis {        
        flex-direction: column;    
    }
}
@media(max-width: 425px) {    
    .create-user-container {
        padding: 2em 2em;
    }
    .create-user-container img {
        width: 70%;
    }
    .create-user-container h1 {
        font-size: 30px;
    }
    .regis-card-1, .regis-card-2 {
        padding: 30px;        
    }
}

/* Login Component */

.login-user-container {
    padding: 2em 5em;
    color: white;
}


.component-login {    
    width: 50%;    
    border: 2px dashed #E7E7E7;
    box-sizing: border-box;
    border-radius: 12px; 
}

.form-login {
    padding: 40px 70px 20px;    
    flex: 1;
}
.form-login .form-title {
    font-family: 'Inconsolata', monospace ;
    font-size: 32px;    
    font-weight: 700;    
    text-align: center;
}

.form-login label {    
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.form-login {
    background-color: #141414;
}


.form-login .link-text {
    font-family: 'Open Sans', sans-serif ;
    font-size: 16px;
    text-align: center;
}

.form-login .link-text a {
    color: #FFA842;
    font-weight: 700;
    text-decoration: none;
}


@media(max-width: 1000px) {    
    .component-login {        
        width: 60%;
    }
}
@media(max-width: 768px) {    
    .login-user-container {
        padding: 2em 4em;
    }
    .component-login {        
        width: 80%;
    }
    .component-regis {        
        flex-direction: column;    
    }
}
@media(max-width: 600px) {        
    .form-login{
        padding: 40px 50px 20px;        
    }
    .component-login {        
        width: 90%;
    }
}
@media(max-width: 500px) {    
    .login-user-container {
        padding: 2em 2em;
    }    
    .form-login .form-title {    
        font-size: 28px;            
    }   
    .form-login{
        padding: 30px;        
    }
}
@media(max-width: 375px) {    
    .login-user-container {
        padding: 2em 1em;
    }        
}

/* end login section */

/* mission report section */

.mission-report-container {
    padding: 2em 5em;
    color: white;
    font-family: 'Inconsolata', monospace ;
}

.mission-report-container .title {
    text-align: center;
}
.mission-report-container .title p {
    font-size: 34px;
    margin-bottom: 0px;
    color: #B8B8B8;
}
.mission-report-container .title h1 {
    font-weight: bold;
    font-size: 45px;
    line-height: 30px;
}

.stage-card {
    margin-top: 5em;
    padding: 40px 40px;
    width: 60%;    
    border: 2px dashed #E7E7E7;
    box-sizing: border-box;
    border-radius: 12px;  
}

.stage-desc {
    font-size: 20px;
    margin-top: 2em;
}

.stage-title {    
    font-size: 28px;    
    font-weight: 700;        
}

.stage-card p span {
    color: #00FF19;
}

.btn-discord {
    font-family: 'Open Sans', sans-serif;
    padding: 13px 24px !important;
    font-weight: bold !important;
    background-color: #FFFFFF !important;
    color: black !important;
    border: 0px !important;
    font-size: 20px !important;
}
.btn-discord svg {
    margin-right: 10px;
}

.stage-title-fail {
    color: #FF0000;
}

.problem-desc {    
    background-color: rgba(255, 255, 255, 0.2);
    padding: 25px;
    margin: 0 20px;
    font-size: 16px;
    margin-bottom: 1rem;
}

.link-fix {
    color: #20E9F6;
}
.link-fix a{
    color: #20E9F6;
    text-decoration: underline;
}
.link-fix a:hover {
    color: #20e8f6c0;   
}

.ongoing-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;    
}

.ongoing-bar img {
    width: 70%;    
}

.ongoing-bar p {
    margin-top: 1em;
    width: 70%;
    text-align: center;
}

@media(max-width: 1024px) {
    .stage-card {
        width: 80%;
    }    
}
@media(max-width: 768px) {
    .stage-card {
        width: 95%;
    }    
}

@media(max-width: 500px) {
    .stage-card {
       margin-top: 3em;
       padding: 30px;
    }    
    .mission-report-container {
        padding: 2em 2em;
    }    
    .mission-report-container .title p {
        font-size: 30px;
        line-height: 25px;
        margin-top: 1em;
    }
    .mission-report-container .title h1 {        
        font-size: 35px;
        line-height: 40px;
    }
    .stage-title {
        font-size: 24px;        
    }
    .stage-desc {
        font-size: 18px;        
    }
    .problem-desc {
        font-size: 14px;
        margin: 0 10px 1rem;
    }
    .btn-discord {     
        padding: 13px 24px !important;
        font-size: 16px !important;
    }
    .btn-discord svg {
        width: 30px;
        height: 30px;
    }
}

@media(max-width: 425px) {
    .stage-card {
        width: 100%;
        padding: 20px;
    }
    .ongoing-bar {        
        margin-top: 3em;    
    }    
    .ongoing-bar img {
        width: 100%;    
    }
    .btn-discord {     
        padding: 13px 15px !important;
        font-size: 14px !important;
    }
}
