@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;700;800&family=Inter:wght@400;500;600&family=Open+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Inconsolata', monospace ;
}

.background-cover {
    background-image: url('./assets/images/background.png');
    background-size: cover;
    min-height: 100vh;
}

.create-user-container {
    color: white;
}
