@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;700;800&family=Inter:wght@400;500;600&family=Open+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif ;
}

.background-cover {
    background: url('./assets/images/bg-kiri.png'), url('./assets/images/bg-kanan.png'), #1A1A1A ;
    background-position: left bottom, right top, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: contain;
    min-height: 100vh;
}

.create-user-container {
    color: white;
}
